<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/Bootstrap5css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Chào mừng đến với Hệ thống Đại lý Bán Cà Phê</h1>
    <p>< %= message %></p>
    <a href="/products" class="btn btn-primary">Xem sản phẩm</a>
  </div>
  <script src="/js/Bootstrap5js/bootstrap.bundle.min.js"></script>
</body>
</html>